<div id="start">
    <h2>Welcome to Calorie Judge</h2>

    <div>How accurate are your calorie estimation skills? Click start to find out!</div>

    <%= form_for(@result) do |f| %>

        <div>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div>
            <%= f.label :age %>
            <%= f.text_field :age %>
        </div>

        <div>
            <%= label_tag(:gender_female, "female") %>
            <%= radio_button_tag(:gender, "female") %>
            <%= label_tag(:gender_male, "male") %>
            <%= radio_button_tag(:gender, "male") %>
        </div>

        <%= f.submit "Start", :class => "btn btn-large btn-primary" %>
    <% end %>

</div>

