<div id="start">
    <div id="header">Welcome to Calorie Crunch!</div>
    <div id="subtitle">A Food Psych Final Project by Zak Kaplan and Sirui Sun. Click start to find out how accurate your calorie estimation skills are!</p></div>

    <%= form_for(@result) do |f| %>

        <div id="name-field">
            <%= f.label :name %>
            <%= f.text_field :name, :cols => "20" %>
        </div>

        <div id="age-field">
            <%= f.label :age %>
            <%= f.text_field :age, :cols => "20" %>
        </div>

        <div id="gender-fields">
            <div id="gender-field-female"><%= label_tag(:gender_female, "female") %>
            <%= radio_button_tag(:gender, "female") %></div>
            <div id="gender-field-male"><%= label_tag(:gender_male, "male") %>
            <%= radio_button_tag(:gender, "male") %></div>
        </div>

        <%= f.submit "Let's go!", :class => "btn btn-large btn-primary", :id => "start-button" %>
    <% end %>
</div>

