<!-- Start button -->
<div id="start">
	<h1>Welcome to Calorie Judge</h1>
	<div id="start-button" class="btn btn-info">Start</div>
</div>

<% (0..9).each do |n| %>
<div id= <%= "food-" + n.to_s %>>
    <%= render @foods[n] %>
	<div id= <%= "food-button-" + n.to_s %> class="btn btn-info">Next</div>
</div>
<% end %>

<div id="end">
	<h1>Results Page</h1>
	<div id="retry-button" class="btn btn-info">Next</div>
</div>

<script>

    $('#start-button').on('click', function() {
        $('#start').fadeOut(400, function() {
            $('#food-0').fadeIn(400);
        });
    });

    $('#retry-button').on('click', function() {
        $('#end').fadeOut(400, function() {
            $('#food-0').fadeIn(400);
        });
    });

    $('#end').hide();
    <% (0..9).each do |n| %>
        $('#<%= "food-" + n.to_s %>').hide();
        <% if n < 9 %>
            $('#<%= "food-button-" + n.to_s%>').on('click', function() {
                $('#<%= "food-" + n.to_s %>').fadeOut(400, function() {
                    $('#<%= "food-" + (n+1).to_s %>').fadeIn(400);
                });
            });
        <% else %>
            $('#<%= "food-button-" + n.to_s%>').on('click', function() {
                $('#<%= "food-" + n.to_s %>').fadeOut(400, function() {
                    $('#end').fadeIn(400);
                });
            });
        <% end %>
    <% end %>

</script>
